<img src="https://67.media.tumblr.com/6587a382f1b0e5a7d495d8bd4fc55fcd/tumblr_njax7zRQFH1sakzt7o1_500.gif" width=300>
<h1>Welcome to Cook Book Good Times!</h1>
<div class="intro">
<h3>Create your own cook book online.</h3>
<h3>Share your favorite recipes with the world.</h3>
<h3>Learn a new recipe every day.</h3>
</div>
<p>Please log in or sign up to start!</p>
<a href="/login"><button>Log In</button></a>
<a href="/register"><button>Sign Up</button></a>