<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=yes, width=device-width" />
  <link rel="stylesheet" href="styles.css"
  <title>Moving Pictures</title>
  </head>
  <body>
    <ul>
      <% @files.each do |file| %>
        <li>
          <a href="/<%= file %>"><%= file %></a>
          <a href="/<%= file %>/edit">edit</a>
        </li>
      <% end %>
    </ul>

    <p><a href="/new">New Document</a></p>
    # <% @pictures.each do |picture| %>
    #   <img src="<%= picture.sub!(/public\//, '') %>" />
    # <% end %>
  </body>
</html>